body {
    margin: 0;
    padding: 0;
    background: #262626;
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pulse {
    width: 100px;
    height: 100px;
    background-color: coral;
    border-radius: 50px;
    color: cornsilk;
    font-size: 14px;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        width: 100px;
        height: 100px;
        box-shadow: 0 0 0 0 rgba(255, 109, 77, .7), 0 0 0 0 rgba(255, 109, 77, .7);
    }
    40% {
        box-shadow: 0 0 0 20px rgba(255, 109, 77, 0), 0 0 0 0 rgba(255, 109, 77, .7);
    }
    80% {
        box-shadow: 0 0 0 20px rgba(255, 109, 77, 0), 0 0 0 0 rgba(255, 109, 77, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 109, 77, 0), 0 0 0 0 rgba(255, 109, 77, 0);
    }
}

@keyframes strech {
    0% {
        height: 80px;
        width: 80px;
        font-size: 10px;
    }
    50% {
        letter-spacing: 15px;
    }
    100% {
        width: 300px;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: none;
    }
}